.leave-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.leave-card {
	background-color: #e8e8c5;
	padding: 30px;
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.leave-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 15px;
}



.cancelButton {
	
	border: none;
	padding: 10px 18px;
	border-radius: 8px;
	
	cursor: pointer;
}

