.welcome {
	text-align: center;
	background-color: transparent;
	
	padding: 2rem;
	max-width: 800px;
	width: 90%;
}

.welcome p {
	font-size: 1.5rem;
	color: #6c757d;
	margin-bottom: 1.5rem;
}

.welcome p:first-child {
	font-size: 2rem;
	font-weight: bold;
	color: #FF7F50;
	margin-bottom: 2rem;
}

.webname {
	color: #15cde9;
}