.card {
    cursor: pointer;
    padding-top: 25px;
    width: 23vw;
    
    text-align: center;
    margin: 5px;
    padding: 10px;
    object-fit: contain;
    
}

.card .list-group {
    border-bottom: none;
}

.card .list-group-item {
    border: none;
    
}

.product-image {
    object-fit: contain;
    height: 15vw;
    width: 20vw;

}

@media (max-width: 630px) {
    .card {
        height: 58vw; 
        width: 60vw;   
    }
}





