.card {
    cursor: pointer;
    padding-top: 25px;
    width: 23vw;
    
    text-align: center;
    margin: 5px;
    padding: 10px;

}

.card .list-group {
    border-bottom: none;
}

.card .list-group-item {
    border: none;
    
}

.product-image {
    object-fit: contain;
    height: 15vw;
    width: 20vw;

}